<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="iResWidth" value="400"/>
    <add key="iResHeight" value="244"/>
    <add key="maxRoomWidth" value="15"/>
    <add key="maxRoomHeight" value="15"/>
    <add key="minRoomWidth" value="5"/>
    <add key="minRoomHeight" value="5"/>
    <add key="roomCount" value="15"/>
  </appSettings>
</configuration>